{% extends 'base.html' %}


{% block title %}
    IT Age May-June
{% endblock title %}

{% block css %}

.blogs_inliner{
    display:contents;display: flex;
    flex-direction: row;
    justify-content: center;
}

.article{
    border:0px;
    background-color: white;
}

.cont{
    width: fit-content;
    margin-left:20px;
}
{% endblock css %}

{% block body %}


    {% for posts in allposts %}
<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
<main class="main pt-4 my-4">
   
    <div class="container">

        <div class="row blogs_inliner">
            <div class="col-md-9">

            <article class="card  article">
                <header class="card-header" style="background-color: white;">
                <div class="card-meta">
                    <time class="timeago" style="font-family: 'PT Sans Caption', sans-serif;">{{posts.timeStamp}}</time>
                </div>
                <a href="{{posts.slug}}" style='color:black;'>
                    <h4 class="card-title" style="font-family: 'PT Serif', serif;">{{posts.title}}</h4>
                </a>
                </header>
                <a href="{{posts.slug}}">
                <img class="card-img" src="https://source.unsplash.com/500x330/?iphone" alt="">
                </a>
                <div class="card-body" style="font-family: 'PT Sans Caption', sans-serif;">
                <p class="card-text">{{posts.content|truncatechars:300}}</p>
                </div>
                <button type="button" class="btn btn-primary cont"> <a href="{{posts.slug}}" style="color:white;">Continue Reading</a> </button>

            </article><!-- /.card -->
            <hr>
            </div>
        </div>
      </div>
    </div>

  </main>

    {% endfor %}

{% endblock body %}
